:root {
    /* color palette 223*/
    --color-light-orange: #FBD8B0;
    --color-tea-green: #DCF2C4;
    --color-middle-blue-green: #74DFD5;
    --color-indigo-dye: #134077;
    --color-ruber: #DF4275;
}

body {
    width: 1024px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: var(--color-tea-green);
    background-image: url(../assets/images/undraw_bookshelves_re_lxoy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    background-size: auto 280px;
}

h1 {
    position: relative;
    top: 80px;
    left: 50px;
    color: var(--color-indigo-dye);
    font-size: 600%;
}

h2 {
    text-align: center;
    color: var(--color-indigo-dye);
}

main {
    width: 100%;
    min-height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}
.catalog {
    width: 65%;
    background-color: var(--color-light-orange);
    border-radius: 10px;
}

.book {
    position: relative;
}

.book-title {
    color: var(--color-ruber);
}

.popup .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    display:none;
    background-image: url(../assets/images/undraw_books_re_8gea.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 75%;
    background-size: auto 120px;
}

.popup .content {
    position: absolute;
    top: 10%;
    left: 15%;
    padding: 20px;
    background: var(--color-light-orange);
    width: 70%;
    text-align: center;
    box-sizing: border-box;
    display:none;
}

.popup .close-button{
    cursor:pointer;
    position:absolute;
    right: 20px;
    top:20px;
    width:30px;
    height:30px;
    background: #222;
    color: #fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    display: block;
}

.cart {
    position: sticky;
    align-self: flex-start;
    top: 0;
    width: 35%;
    height: auto;
    margin-left: 5px;
    background-color: var(--color-middle-blue-green);
    border: 1px solid gray;
    border-radius: 10px;

}
.cart h2 {
    border-bottom: 1px solid gray;
}
#cart-bottom {
    text-align: center;
    color: var(--color-indigo-dye)
}
.shelf {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    border-bottom: 1px solid gray;
}

.shelf .book-title {
    color: var(--color-indigo-dye);
}
.shelf .remove-button{
    cursor:pointer;
    width:30px;
    height:30px;
    background: #222;
    color: #fff;
    font-size:15px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}
#button-confirm, #submit {
    display: block;
    font-size: 15px;
    margin: 10px auto 20px auto;
}
.confirm {
    position: relative;
    width: 100%;
    background-color: var(--color-middle-blue-green);
    border: 1px solid gray;
    border-radius: 10px;
    background-image: url(../assets/images/undraw_delivery_address_re_cjca.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1% 30%;
    background-size: auto 130px;
}

#form {
    margin: 20px auto 20px auto;
    width: 70%;

}

.form-box {
    margin-top: 10px;
}
fieldset {
    border-color: var(--color-indigo-dye);
    margin-top: 10px;
}
.error::after{
    color: var(--color-ruber);
    font-size: 1rem;
    line-height: 1.8;
    padding-left: 1rem;
    position:relative;
    left: 2px;
    content: attr(data-errormsg);
}

.error {
    border-color: var(--color-ruber);
}

footer {
    width: 100%;
    background-color: var(--color-tea-green);
    height: 70px;
    border-radius: 10px;
}

